<h1 class="page-header text-center"> Users </h1>
<div class="bg-success"><%= flash[:success] %></div>
<div class="category col-md-12">
<%= link_to 'New User' , new_user_path, class: 'btn btn-lg btn-success center-block' %>
<br>
<table class="table table-bordered">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Joined</th>
  <th>City</th>
  <th>State</th>
  <th>Orders</th>
  <th>Last Order Date</th>
  <th>Show</th>
  <th>Edit</th>
  <th>Delete</th>
<tr>
<% @users.each do |user| %>

  <tr>
    <td><%= user.id %></td>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.created_at.strftime("%m-%d-%y")   %></td>
    <td><%= user.default_billing_address_id.city.name if user.default_billing_address_id %></td>
    <td><%= user.default_shipping_address_id.state.name if user.default_billing_address_id%></td>
    <td><%= user.orders.count %></td>
    <% unless user.orders.last.nil? %>

    <td>
       <%= user.orders.last.checkout_date ?  
           user.orders.last.checkout_date.strftime("%m-%d-%y")  
          : "N/A" %>
    </td>

    <% else %>
    <td> N/A </td>
    <% end %>
    <td><%= link_to "Show", user, class: "btn btn-xs btn-primary"%></td>
    <td><%= link_to "Edit", edit_user_path(user) ,class: 'btn btn-xs btn-primary'%></td>
  <td><%= link_to "Delete", user_path(user), method: 'delete', :data => {confirm: 'Are you sure you want to delete?'} ,class: 'btn btn-xs btn-danger' %></td>
  </tr>

<% end %>

</table>
</div>
